<h1>Hello! <%= @user.username %></h1>

<% if logged_in? && current_user == @user %>
  <div>
    <%= link_to "Edit your profile", edit_user_path(@user) %>
  </div>


  <div>
      <%= link_to "Logout", logout_path, data: { "turbo-method": :delete} %>
  </div>

  <div>
    <%= link_to "Delete your account", user_path(@user), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?"} %>
  </div>
<% end %>


<h3>Articles</h3>

<%= render 'articles/article', obj: @user.articles %>