<h1>Hello World! </h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About', about_path %> |

<% if logged_in? %>

  <%= link_to "Welcome #{current_user.username}", user_path(current_user) %> <%= "(Admin)" if current_user.admin? %> |
  <%= link_to "Logout", logout_path, data: { "turbo-method": :delete} %>
<% else %>
  <%= link_to "New user? Sign up!", signup_path %> |
  <%= link_to "Log in", login_path %>
<% end %>
