<h1>Create a new category</h1>

<% if @category.errors.any? %>
  <h3>The following errors prevented you from creating the new category!</h3>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @category, local: true, data: { turbo: false }) do |f| %>

  <p>
    <%= f.label :name, "Category name" %> <br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>